body{
    font-family: 'Libre Franklin', sans-serif;
    
}
.textGrap .gras{
    font-weight: bold;
}
.troisieme .text1{
    font-family: 'Nanum Myeongjo', sans-serif;
    padding-left: 15px;
}
h5 {
    margin-bottom: -14px;
    font-size: 18px; /* Ajustez la taille selon vos besoins */
}
.bt .buy{
    background-color: #f200f2;
}
@media(min-width:885px){
    .entete {
        background-color:  rgb(157, 25, 25);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    
    .entete h1 {
        color: white;
        font-size: 60px;
        
        
    }
    
    .socialIcon {
        display: flex;
        gap: 15px;
        justify-content: center;
        flex: 1;
    }
    
    .socialIcon img {
        width: 60px;
    }
    .socialIcon img:hover {
        transform: scale(0.8);
    }
    
    .menu{
        border-top: 2px solid rgb(253, 160, 12);
        display: flex;
        background-color: #9d1919;
        align-items: center;
    }
    
    .menu a{
        padding-left: 15px;
        border-left: 1px solid rgb(255, 255, 255);
        color: aliceblue;
        font-size: 25px;
        margin: 14px;
        text-decoration: none;
    }
    
    .menu a:hover{
        font-size: 25px;
        margin: 14px;
        
        text-decoration:underline;
    }
    .content1{
        
        margin-top: 60px;
        border: 1px solid black;
    }
    .premiere {
        padding: 16px;
        padding-left: 25px;
        margin-top: 15px;
        display: flex;
    }
    
    .premiere .vide{
        display: flex;
        flex-direction: column; /* Aligne les éléments verticalement */
        align-items: center; /* Centre les éléments horizontalement */
        text-align: center;
    }
    
    
    .premiere video{
        max-width: 100%;
    }
    
    div h4{
        font-size: 28px;
    }
    
    div h3{
        font-size: 25px;
    }
    .premiere div{
    
        width: 33%;
        margin-right: 1%;
    }
    
    .textGra {
        padding: 25px;
        display: flex;
        border-top: 2px solid rgb(191, 189, 189); /* Ajoute une bordure grise en haut */
    }
    .textGra h3{
        margin-left: 25px;
    }
    .textGra h1{
        width: 0px;
        border-left: 1px solid black;
    
    }
    .deuxieme{
        border-top: 1px solid black;
    }
    .premiere .bar{
        margin-top: 25px;
        width: 0px;
        border-left: 1px solid black;
    }

    .textGrap p {
        padding: 25px;
        white-space: nowrap; /* Empêche le texte de se briser sur plusieurs lignes */
        overflow: hidden; /* Masque le texte qui dépasse (facultatif) */
        text-overflow: ellipsis; /* Ajoute des points de suspension si le texte dépasse (facultatif) */
        display: flex;
        flex-wrap: wrap; /* Aligne les éléments sur une seule ligne */
        align-items: center;
        border-top: 2px solid rgb(191, 189, 189);
    }

    .troisieme{
        border-top: 1px solid black;
        display: flex;
        flex-wrap: wrap;
        padding: 25px;
        padding-left: 25px;
        margin-top: 15px;
    }

    .troisieme .text{
        width: 40%;
    }
    .troisieme .image{
        margin-left: 25px;
        margin-top: 25px;
        
        width: 30%;
    }
    .image img{
        border-radius: 15px;
    }

    .dest{
        display: flex;
        margin-top: -18px;
    }

    .bt {
        display: flex;
        justify-content: center; /* Centre les éléments horizontalement */
        align-items: center; /* Centre les éléments verticalement */
        gap: 20px; /* Ajoute un espacement entre les liens */
    }
    
    .bt a {
        text-decoration: none; /* Retire le soulignement des liens */
        padding: 10px 20px; /* Ajoute du padding pour rendre les liens plus cliquables */
        background-color: #0ca7b2; /* Couleur de fond (optionnelle) */
        border-radius: 15px; /* Coins arrondis (optionnel) */
        color: rgb(255, 255, 255); /* Couleur du texte */
    }
    .bt a:hover{
        transform: scale(1.3);
    }
    .text1 .h5{
        font-style: bold;
        font-size: 16px;
    }

    .pied{

        padding: 15px;
        margin-top: -15px;
        background-color: rgb(157, 25, 25);
    }
    .pied h1{
        color: white;
    }
    .pied p{
        margin-left: 15px;
        margin-top: -15px;
        color: #b3b6b6;
    }
    
    .menu div{
        width: 1px;
        border-left: 2px solid rgb(255, 255, 255);
    }
    .menu .violet{
        color: #aa70f6;
    }
    .menu .bleu{
        color: #70f698;
    }
    .menu .coin{
        color: #8d8d93;
    }
    .menu .coinm{
        color: #f6d770;
    }
    .menu .dext{
        color: #7291b4;
    }
    .menu .coinm{
        color: #f6d770;
    }

}

@media(max-width:884.9px){
    .pied{

        padding: 15px;
        margin-top: -15px;
        background-color: rgb(157, 25, 25);
    }
    .pied h1{
        color: white;
    }
    .pied p{
        margin-left: 15px;
        
        color: #b3b6b6;
    }

    .troisieme{
        border-top: 1px solid black;
        display: flex;
        flex-wrap: wrap;
        padding: 25px;
        padding-left: 25px;
        margin-top: 15px;
    }

    .troisieme .text{
        width: 100%;
    }
    .troisieme .image{

        margin-top: 25px;
        
        width: 100%;
    }
    .image img{
        width: 100%;
        border-radius: 15px;
    }

    .dest{
        display: flex;
        margin-top: -18px;
    }

    .bt {
        display: flex;
        justify-content: center; /* Centre les éléments horizontalement */
        align-items: center; /* Centre les éléments verticalement */
        gap: 20px; /* Ajoute un espacement entre les liens */
    }
    
    .bt a {
        text-decoration: none; /* Retire le soulignement des liens */
        padding: 10px 20px; /* Ajoute du padding pour rendre les liens plus cliquables */
        background-color: #0ca7b2; /* Couleur de fond (optionnelle) */
        border-radius: 15px; /* Coins arrondis (optionnel) */
        color: rgb(255, 255, 255); /* Couleur du texte */
    }

    .textGrap p {
        padding: 25px;
        overflow: hidden; /* Masque le texte qui dépasse (facultatif) */
        text-overflow: ellipsis; /* Ajoute des points de suspension si le texte dépasse (facultatif) */
        display: flex;
        flex-wrap: wrap; /* Aligne les éléments sur une seule ligne */
        align-items: center;
        border-top: 2px solid rgb(191, 189, 189);
    }
    
    .entete {
        background-color:  rgb(157, 25, 25);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    
    .entete h1 {
        color: white;
        font-size: 16px;
        
        
    }
    
    .socialIcon {
        display: flex;
        gap: 1px;
        justify-content: center;
        flex: 1;
    }
    
    .socialIcon img {
        width: 30px;
    }
    
    .menu{
        
        border-top: 1px solid rgb(253, 160, 12);
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(157, 25, 25);
        align-items: center;
    }
    
    .menu a{
        padding-left: 18px;
        border-left: 1px solid rgb(255, 255, 255);
        color: aliceblue;
        font-size: 16px;
        margin: 1px;
        margin-right: 10px;
        text-decoration: none;
    }

    .menu a:hover{
        text-decoration:underline;
    }
    .content1{
        
        margin-top: 60px;
        border: 1px solid black;
    }
    .premiere {
        padding: 25px;
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .premiere .vide{
        display: flex;
        flex-direction: column; /* Aligne les éléments verticalement */
        align-items: center; /* Centre les éléments horizontalement */
        text-align: center;
    }
    .premiere video{
        max-width: 100%;
    }
    
    div h4{
        font-size: 16px;
    }
    
    div h3{
        margin-top: -10px;
        margin-bottom: -10px;
        font-size: 16px;
    }
    
    
    .textGra {
        padding: 25px;
        display: flex; 
        flex-wrap: wrap;
        border-top: 2px solid rgb(191, 189, 189); /* Ajoute une bordure grise en haut */
    }
    
    .textGra h1{
        width: 100%;
        border: 1px solid black;
    
    }
}
